[Unit]
Description=Telegram Dynamic Avatar Service
After=network.target

[Service]
Type=simple
User=root
# VPS-dagi loyiha yo'li
WorkingDirectory=/root/telegram-dynamic-avatar
# Virtual muhitdagi Python-ga yo'l
ExecStart=/root/telegram-dynamic-avatar/venv/bin/python main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
